
<div id="details">
<form name="" action="/create-event" method="POST">
  <input type="hidden" name="name" value="{{eventDetail.name}}">
  <h2>{{eventDetail.name}}</h2>
  <a href="{{eventDetail.url}}" id="det-tick">Compra tus entradas !! </a>
  <input type="hidden" value="{{eventDetail.id}}">
  <h3> <b>Fecha</b> : {{eventDetail.dates.start.localDate}}</h3>
  <h3> <b>Hora</b> : {{eventDetail.dates.start.localTime}}</h3>
  <h3>{{eventDetail_embedded.venues.0.name}}</h3>
  <img src="{{eventDetail.images.0.url}}" alt="" id="det-img">
  <button type="submit" id="heart" value="submit">â¤</button>
  <input type="hidden" name="id" value="{{eventDetail.id}}">
  <input type="hidden" name="localTime" value="{{eventDetail.dates.start.localTime}}">
  <input type="hidden" name="localDate" value="{{eventDetail.dates.start.localDate}}">
  <input type="hidden" name="url" value="{{eventDetail.url}}">
  <input type="hidden" name="image" value="{{eventDetail.images.0.url}}">
  <input type="hidden" name="venues_name" value="{{eventDetail._embedded.venues.0.name}}">
</form>


</div>
</div>
</div>