<h1>Favourites</h1>
{{#each foundUser.favourites}}
<h2>{{name}}</h2>
<input type="hidden" value="{{id}}">
<p> <b>Fecha</b> : {{localDate}}</p>
<p> <b>Hora</b> : {{localTime}}</p>
<a href="{{url}}"> Compra tus entradas !! </a>
<img src="{{image}}" alt="" id="img-favourites">
<p> <b>Lugar</b> : {{venues_name}}</p>
<br>
<br>
{{/each}}