<h1>Favourites</h1>
{{#each foundUser.favourites}}
<div id="fav">
<h2 id = "fav-artist">{{name}}</h2>
<a id = "fav-tick" href="{{url}}"> Compra tus entradas !! </a>
<input type="hidden" value="{{id}}">
<p id = "day"> <b>Fecha</b> : {{localDate}}</p>
<p id = "date"> <b>Hora</b> : {{localTime}}</p>
<p id = "fav-place" > <b>Lugar</b> : {{venues_name}}</p>
<img id = "fav-img" src="{{image}}" alt="">
<br>
<br>
</div>
{{/each}}